body {
    color: red;
    background: url('index.gif') 50% 50% no-repeat fixed; 
    background-size: 50%;
    background-color: black;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}