body {
    color: rgb(0, 0, 0);
    background-color: black;
}

h1 {
    color: rgb(0, 0, 0);
    margin-left: 20px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

